@import './setting.scss';

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.3em;
    font-size: 14px;
    font-family: sans-serif;
}

.App {
    height: 100vh;
    display: grid;
    grid-template-rows: 40px 50px 1fr;
    background-color: $board-bg-color;
}
